body {
    margin: 0;
    background-color: #000;
    color: #fff;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.banner .content .title {
    font-family: 'Gill Sans';
    font-size: 9em;
}

#subtitle{
    font-size: 2.5em;
}

.banner::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;

    mask-image: none;
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
}

.banner.animate::before {
    mask-image: url(ink_lv2.gif);
}

.redo-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 1.5em;
    color: #fff;
    background-color: #333;
    border: none;
    cursor: pointer;
    z-index: 1;
}
